@model IEnumerable<VideotheekWebApp.Models.Film>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">@Localizer["Create"]</a>
    </p>
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @Localizer["FilterTitle"]: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value=@Localizer["Search"] class="btn btn-default" /> |
            <a asp-action="Index">@Localizer["Return"]</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Title"]
            </th>
            <th>
                @Localizer["Director"]
            </th>
            <th>
                @Localizer["Actors"]
            </th>
            <th>
                @Localizer["Genre"]
            </th>
            <th>
                @Localizer["Price"]
            </th>
            <th>
                @Localizer["Amount"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Title
            </td>
                <td>
                    @item.Regisseur
            </td>
            <td>
                    @item.Acteurs
            </td>
                <td>
                    @item.Genre
            </td>
                <td>
                    @item.Prijs
            </td>
            <td>
                    @item.Aantal
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>

                    @if (User.IsInRole("admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"> | @Localizer["Edit"]</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> | @Localizer["Delete"]</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
