@model IEnumerable<VideotheekWebApp.Models.Lid>

@{
    ViewData["Title"] = "Leden Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["IndexLid"]</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">@Localizer["Create"]</a>
    </p>
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            @Localizer["FindUser"]: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value=@Localizer["Search"] class="btn btn-default" /> |
            <a asp-action="Index">@Localizer["Return"]</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Username"]</th>
            <th>@Localizer["Voornaam"]</th>
            <th>@Localizer["Achternaam"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["PhoneNumber"]</th>
            <th>@Localizer["Roles"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Voornaam</td>
            <td>@item.Achternaam</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@string.Join(", ", await UserManager.GetRolesAsync(item))</td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Localizer["Details"]</a>

                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id"> | @Localizer["Edit"]</a>
                        <a asp-action="Delete" asp-route-id="@item.Id"> | @Localizer["Delete"]</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
