@model IEnumerable<VideotheekWebApp.Models.Lid>

@{
    ViewData["Title"] = "Leden Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Leden Management</h1>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by username: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Roles</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Voornaam</td>
            <td>@item.Achternaam</td>
            <td>@item.Email</td>
            <td>@item.PhoneNumber</td>
            <td>@string.Join(", ", await UserManager.GetRolesAsync(item))</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id"> | Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"> | Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
