@model MovieSharing.Models.Reservatie

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["DeleteReservation"]</h1>

<h3>@Localizer["Confirmation"]</h3>
<div>
    <h4>Reservatie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Username"]
        </dt>
        <dd class = "col-sm-10">
            @Model.lid.UserName
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Title"]
        </dt>
        <dd class = "col-sm-10">
            @Model.film.Title
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value=@Localizer["Delete"] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Return"]</a>
    </form>
</div>
